apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-api
  namespace: product-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-api
  template:
    metadata:
      labels:
        app: product-api
    spec:
      containers:
      - name: product-api
        image: harbor.lab.home/library/product-api:latest
        ports:
        - containerPort: 80