echo "Loading lots of things from Vault"
export APPS_DOMAIN="$(vault kv get --field apps secrets/domain)"
export HARBOR_DOMAIN="$(vault kv get --field harbor secrets/domain)"
export NOTARY_DOMAIN="$(vault kv get --field notary secrets/domain)"

export PIVNET_LOGIN="$(vault kv get --field=user secrets/pivnet)"
export PIVNET_PASSWORD="$(vault kv get --field=password secrets/pivnet)"
export PIVNET_API_TOKEN="$(vault kv get --field=token secrets/pivnet)"

export WAVEFRONT_API_TOKEN="$(vault kv get --field token secrets/wavefront)"
export WAVEFRONT_URL="$(vault kv get --field url secrets/wavefront)"

export TKGI_HOSTNAME="$(vault kv get --field host secrets/tkgi)"
export TKGI_USER="$(vault kv get --field user secrets/tkgi)"
export TKGI_PASSWORD="$(vault kv get --field password secrets/tkgi)"
export TKGI_ADMIN_CLIENT_SECRET="$(vault kv get --field admin_client_secret secrets/tkgi)"

export TMC_CLUSTER_GROUP_NAME="$(vault kv get --field cluster_group_name secrets/tmc)"

export PROXY_HOST="$(vault kv get --field host secrets/proxy)"
export PROXY_PORT="$(vault kv get --field port secrets/proxy)"

export VCENTER_USER="$(vault kv get --field user secrets/vsphere)"
export VCENTER_PASSWORD="$(vault kv get --field password secrets/vsphere)"
export VCENTER_DATACENTER="$(vault kv get --field datacenter secrets/vsphere)"
export VCENTER_IP="$(vault kv get --field ip secrets/vsphere)"

export HARBOR_USERNAME="$(vault kv get --field=user secrets/harbor)"
export HARBOR_PASSWORD="$(vault kv get --field=password secrets/harbor)"

export GOVC_INSECURE="true"
export GOVC_PASSWORD="$(vault kv get --field=password secrets/esxi)"
export GOVC_USERNAME="$(vault kv get --field=user secrets/esxi)"

# YTT homelab
export YTT_HOMELAB_apps_domain="$APPS_DOMAIN"
export YTT_HOMELAB_primary_domain="$PRIMARY_DOMAIN"
export YTT_HOMELAB_harbor_domain="$HARBOR_DOMAIN"

# YTT wavefront
export YTT_WAVEFRONT_wavefront_token="$WAVEFRONT_API_TOKEN"
export YTT_WAVEFRONT_wavefront_url="$WAVEFRONT_URL/api"

