.envrc
pipeline/vars.sh
rootCA.pem

tbs/build-service-1.0.3.tar
tbs/tbs-install/

tas3/tanzu-application-service*.tar
tas3/tanzu-application-service/
tas3/configuration-values/
tas3/tas3-values.yml
tas3/apps-manager-values.yml

tanzu-postgres/postgres-for-kubernetes*

k8s-attach-manifest.yaml

apps/test-app/test-app/

virtualcluster/kubeconfig.yml