#@ load("@ytt:data", "data")
apiVersion: v1
kind: Namespace
metadata:
  name: images
---
apiVersion: kpack.io/v1alpha1
kind: Image
metadata:
  name: spring-petclinic
  namespace: images
spec:
  tag: #@ data.values.spring_petclinic_image
  serviceAccount: tbs-service-account
  builder:
    name: full
    kind: ClusterBuilder
  source:
    git:
      url: https://github.com/techgnosis/spring-petclinic.git
      revision: demo

